<footer id="footer" >

    <div class="footer-links">
            <ul>
                <li>Home</li>
                <li>Features</li>
                <li>Pricing</li>
                <li>FAQs</li>
                <li>About</li>
            </ul>
            <div class="copyRight">
                <p> Copyright © <%= new Date().getFullYear() %></p>
            </div>          
     

    </div>

    
      
</footer>


</html>